ORDER_PORT=4180
ORDER_ORIGIN=https://order.macbookbro.ru
ORDERS_DB=/var/lib/macbookbro-orders/orders.sqlite
ORDER_TRUST_PROXY=1
ORDER_ACCEPTING=0
ORDER_TELEGRAM_BOT_TOKEN=
ORDER_TELEGRAM_CHAT_ID=
ORDER_DELIVERY_MODE=relay
ORDER_RELAY_KEY=
